{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "printWidth": 50,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "endOfLine": "lf"
}
