.container {
  box-sizing: border-box;
  grid-area: date;
  container-type: inline-size;
  container-name: actuacion;
  border-radius: 2vmin;
  text-align: center;
}
.container > * {
  width: 100%;
}
.container:hover {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  box-shadow: var(--dp20);
}
.container:hover .actuacion, .container:hover .anotacion {
  display: flex;
}

.fecha {
  display: flex;
}

.date {
  background-color: var(--surface-container-high);
  padding: 2cqmin;
  color: var(--on-surface);
  font-family: var(--font-poiret);
  border-radius: 2cqmin;
  align-self: center;
}

.actuacion {
  display: none;
}

.anotacion {
  display: none;
}

@container actuacion (width < 100px) {
  .actuacion {
    display: none;
  }
  .anotacion {
    display: none;
  }
}
