:root {
  --md-source: #546a76;
  /* primary */
  --md-ref-palette-primary0: var(--pal-neutral0);
  --md-ref-palette-primary4: #001018;
  --md-ref-palette-primary5: #00131c;
  --md-ref-palette-primary6: #00161f;
  --md-ref-palette-primary10: var(--pal-primary10);
  --md-ref-palette-primary12: #002330;
  --md-ref-palette-primary17: #002e3e;
  --md-ref-palette-primary20: var(--pal-primary20);
  --md-ref-palette-primary22: #003a4d;
  --md-ref-palette-primary24: #003e53;
  --md-ref-palette-primary25: #004156;
  --md-ref-palette-primary30: var(--pal-primary30);
  --md-ref-palette-primary35: #005976;
  --md-ref-palette-primary40: var(--pal-primary40);
  --md-ref-palette-primary50: #0081a8;
  --md-ref-palette-primary60: #159cc9;
  --md-ref-palette-primary70: #44b7e5;
  --md-ref-palette-primary80: var(--pal-primary80);
  --md-ref-palette-primary87: #aae2ff;
  --md-ref-palette-primary90: var(--pal-primary90);
  --md-ref-palette-primary92: #cdedff;
  --md-ref-palette-primary94: #dbf1ff;
  --md-ref-palette-primary95: #e1f3ff;
  --md-ref-palette-primary96: #e7f6ff;
  --md-ref-palette-primary98: #f4faff;
  --md-ref-palette-primary99: #fafcff;
  --md-ref-palette-primary100: var(--pal-neutral100);
  /* secondary */
  --md-ref-palette-secondary0: var(--pal-neutral0);
  --md-ref-palette-secondary4: #1b0a00;
  --md-ref-palette-secondary5: #1e0c00;
  --md-ref-palette-secondary6: #220e00;
  --md-ref-palette-secondary10: var(--pal-secondary10);
  --md-ref-palette-secondary12: #341900;
  --md-ref-palette-secondary17: #432200;
  --md-ref-palette-secondary20: var(--pal-secondary20);
  --md-ref-palette-secondary22: #522b00;
  --md-ref-palette-secondary24: #582f00;
  --md-ref-palette-secondary25: #5c3100;
  --md-ref-palette-secondary30: var(--pal-secondary30);
  --md-ref-palette-secondary35: #7d4400;
  --md-ref-palette-secondary40: var(--pal-secondary40);
  --md-ref-palette-secondary50: #af6510;
  --md-ref-palette-secondary60: #ce7d2b;
  --md-ref-palette-secondary70: #ee9743;
  --md-ref-palette-secondary80: var(--pal-secondary80);
  --md-ref-palette-secondary87: #ffd1ac;
  --md-ref-palette-secondary90: var(--pal-secondary90);
  --md-ref-palette-secondary92: #ffe3ce;
  --md-ref-palette-secondary94: #ffeadb;
  --md-ref-palette-secondary95: #ffeee2;
  --md-ref-palette-secondary96: #fff1e8;
  --md-ref-palette-secondary98: #fff8f5;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: var(--pal-neutral100);
  /* tertiary */
  --md-ref-palette-tertiary0: var(--pal-neutral0);
  --md-ref-palette-tertiary4: #26000a;
  --md-ref-palette-tertiary5: #2c000d;
  --md-ref-palette-tertiary6: #30000f;
  --md-ref-palette-tertiary10: var(--pal-tertiary10);
  --md-ref-palette-tertiary12: #470019;
  --md-ref-palette-tertiary17: #560923;
  --md-ref-palette-tertiary20: var(--pal-tertiary20);
  --md-ref-palette-tertiary22: #65162e;
  --md-ref-palette-tertiary24: #6b1b32;
  --md-ref-palette-tertiary25: #6e1d34;
  --md-ref-palette-tertiary30: var(--pal-tertiary30);
  --md-ref-palette-tertiary35: #8b344b;
  --md-ref-palette-tertiary40: var(--pal-tertiary40);
  --md-ref-palette-tertiary50: #b9586f;
  --md-ref-palette-tertiary60: #d87188;
  --md-ref-palette-tertiary70: #f78aa2;
  --md-ref-palette-tertiary80: var(--pal-tertiary80);
  --md-ref-palette-tertiary87: #ffced5;
  --md-ref-palette-tertiary90: var(--pal-tertiary90);
  --md-ref-palette-tertiary92: #ffe1e5;
  --md-ref-palette-tertiary94: #ffe9eb;
  --md-ref-palette-tertiary95: #ffecee;
  --md-ref-palette-tertiary96: #fff0f1;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: var(--pal-neutral100);
  /* neutral */
  --md-ref-palette-neutral0: var(--pal-neutral0);
  --md-ref-palette-neutral4: var(--pal-neutral4);
  --md-ref-palette-neutral5: #0e1112;
  --md-ref-palette-neutral6: var(--pal-neutral6);
  --md-ref-palette-neutral10: var(--pal-neutral10);
  --md-ref-palette-neutral12: var(--pal-neutral12);
  --md-ref-palette-neutral17: var(--pal-neutral17);
  --md-ref-palette-neutral20: var(--pal-neutral20);
  --md-ref-palette-neutral22: var(--pal-neutral22);
  --md-ref-palette-neutral24: var(--pal-neutral24);
  --md-ref-palette-neutral25: #393c3d;
  --md-ref-palette-neutral30: #444748;
  --md-ref-palette-neutral35: #505354;
  --md-ref-palette-neutral40: #5c5f60;
  --md-ref-palette-neutral50: #747778;
  --md-ref-palette-neutral60: #8e9192;
  --md-ref-palette-neutral70: #a9acac;
  --md-ref-palette-neutral80: var(--pal-neutral80);
  --md-ref-palette-neutral87: var(--pal-neutral87);
  --md-ref-palette-neutral90: var(--pal-neutral90);
  --md-ref-palette-neutral92: var(--pal-neutral92);
  --md-ref-palette-neutral94: var(--pal-neutral94);
  --md-ref-palette-neutral95: var(--pal-neutral95);
  --md-ref-palette-neutral96: var(--pal-neutral96);
  --md-ref-palette-neutral98: var(--pal-neutral98);
  --md-ref-palette-neutral99: var(--pal-neutral99);
  --md-ref-palette-neutral100: var(--pal-neutral100);
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: var(--pal-neutral0);
  --md-ref-palette-neutral-variant4: #07100f;
  --md-ref-palette-neutral-variant5: #091311;
  --md-ref-palette-neutral-variant6: #0c1514;
  --md-ref-palette-neutral-variant10: #141d1c;
  --md-ref-palette-neutral-variant12: #182120;
  --md-ref-palette-neutral-variant17: #222c2a;
  --md-ref-palette-neutral-variant20: #293231;
  --md-ref-palette-neutral-variant22: #2d3735;
  --md-ref-palette-neutral-variant24: #313b39;
  --md-ref-palette-neutral-variant25: #343d3c;
  --md-ref-palette-neutral-variant30: var(--pal-neutral-variant30);
  --md-ref-palette-neutral-variant35: #4b5452;
  --md-ref-palette-neutral-variant40: #56605e;
  --md-ref-palette-neutral-variant50: var(--pal-neutral50);
  --md-ref-palette-neutral-variant60: var(--pal-neutral-variant60);
  --md-ref-palette-neutral-variant70: #a3adab;
  --md-ref-palette-neutral-variant80: var(--pal-neutral-variant80);
  --md-ref-palette-neutral-variant87: #d2dcd9;
  --md-ref-palette-neutral-variant90: var(--pal-neutral-variant90);
  --md-ref-palette-neutral-variant92: #e0eae7;
  --md-ref-palette-neutral-variant94: #e6f0ed;
  --md-ref-palette-neutral-variant95: #e9f3f0;
  --md-ref-palette-neutral-variant96: #ebf6f3;
  --md-ref-palette-neutral-variant98: #f1fcf9;
  --md-ref-palette-neutral-variant99: #f4fefb;
  --md-ref-palette-neutral-variant100: var(--pal-neutral100);
  /* error */
  --md-ref-palette-error0: var(--pal-neutral0);
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: var(--pal-error10);
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: var(--pal-error20);
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: var(--pal-error30);
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: var(--pal-error40);
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: var(--pal-error80);
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: var(--pal-error90);
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: var(--pal-neutral100);
  /* light */
  /* dark */
  /* display - large */
}
