.container {
  container-name: carpetas;
  container-type: inline-size;
  & > * {
    width: 100%;
  }
}
.card {
  box-sizing: border-box;
  padding: 2cqmin;
  gap: 2cqmin;
  border-radius: 2cqmin;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
  justify-content: stretch;
  align-content: stretch;
  &Active {
    @extend .card;
    background-color: var(
      --surface-container-high
    );
    border: solid 2px var(--outline-variant);
    color: var(--on-surface);
    box-shadow: var(--dp6);
    & > .links {
      & > .button {
        background-color: var(
          --tertiary-container
        );
        color: var(--on-tertiary-container);
      }
    }
  }
  &Inactive {
    @extend .card;
    color: var(--on-surface);
    border: solid 1px var(--outline);
    background-color: var(--surface-container);
    & > .links {
      & > .button {
        background-color: var(
          --secondary-container
        );
        color: var(--on-secondary-container);
      }
    }
  }
  .title {
    color: var(--primary);
    text-align: right;
    flex: 1 0 100%;
  }
  .links {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    gap: 2vmin;
    .button {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
      border-radius: 2cqmin;
      padding: 2cqmin;
      flex: 1 0;
      & > .tooltiptext {
        visibility: hidden;
        width: auto;
        background-color: var(--inverse-surface);
        color: var(--inverse-on-surface);
        text-align: center;
        border-radius: 10cqmin;
        padding: 2cqmin;
        box-sizing: border-box;
        position: absolute;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: all 0.5s;
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent
            transparent transparent;
        }
      }
      & > .icon {
        margin: 0 auto;
        font-variation-settings: 'FILL' 0,
          'wght' 300, 'GRAD' 0, 'opsz' 24;
        font-size: 1.5rem;
      }
      &:hover,
      &:active {
        background-color: var(--primary);
        color: var(--on-primary);
        box-shadow: var(--dp8);
        .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .content {
    text-align: center;
    padding: 2cqmin;
    border-radius: 2cqmin;
    flex: 1 0 100%;
  }
  .sub {
    color: var(--surface-on-variant);
    flex: 0 0 25%;
  }
  .date {
    grid-area: date;
    background-color: var(--surface);
    padding: 2cqmin;
    color: var(--on-surface);
    font-family: var(--font-poiret);
    border-radius: 2cqmin;
    align-self: center;
    flex: 1 0 50%;
  }
  .dummytxt {
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
  }
}
