.container {
  container-name: carpetas;
  container-type: inline-size;
  & > * {
    width: 100%;
  }
}

.card {
  box-sizing: border-box;
  border: solid 1px var(--outline);
  padding: 2vmin;
  gap: 5cqmin;
  border-radius: 2vmin;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  background-color: var(--surface-container-low);
  color: var(--on-surface);
  align-items: center;
  height: 100%;
  justify-content: stretch;
  align-content: stretch;

  .title {
    color: var(--primary);
    text-align: right;
    flex: 1 0 100%;
  }
  .content {
    text-align: center;
    background-color: var(--surface-container-lowest);
    padding: 2cqmin;
    border-radius: 2cqmin;
    flex: 1 0 100%;
  }

  .sub {
    color: var(--surface-on-variant);
    flex: 0 0 25%;
  }

  .date {
    grid-area: date;
    background-color: var(--surface);
    padding: 2cqmin;
    color: var(--on-surface);
    font-family: var(--font-poiret);
    border-radius: 2cqmin;
    align-self: center;
    flex: 1 0 50%;
  }

  .dummytxt {
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
  }
  .button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    grid-area: link;
    border-radius: 2cqmin;
    padding: 2cqmin;
    align-self: center;
    background-color: var(--secondary);
    color: var(--on-secondary);
    border: 2px solid var(--primary-fixed);
    flex: 1 0 25%;
    .icon {
      margin: 0 auto;
      color: var(--on-secondary);
      font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
      font-size: 2rem;
    }
  }
}
