.modal {
  container-name: modal;
  container-type: inline-size;
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  margin: 0 auto;
  z-index: 10;
  height: 80vh;
}
.wrapper {
  width: 80qcw;
  height: 80qch;
  z-index: 10;

  box-sizing: border-box;

  box-shadow: var(--dp16);
  background-color: var(--primary-container);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2vmin;
  padding: 2vmin;
  overflow: scroll;

  .content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: var(--dp20);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    .header {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;

      & > span {
        color: white;
        font-weight: bold;
      }

      &:hover,
      &:active {
        & > span {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .body {
      padding: 2px 16px;
    }

    .footer {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    }
  }
}

/* Modal Content */

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
