.drawer {
  position: fixed;
  width: 30vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  transition: width 1s opacity 2s;
  display: grid;
  z-index: 5;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 2vmin;
  grid-template-areas:
    'title title title title  drawerMenuButton '
    '. inputSearchBar inputSearchBar inputSearchBar drawerMenuButton'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList'
    'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ';
  justify-content: space-evenly;
  align-content: flex-start;
  justify-items: stretch;
  align-items: stretch;
  background-color: var(--background);
  color: var(--on-background);
  box-sizing: border-box;

  grid-gap: 2vmin;

  box-shadow: var(--dp16);
  text-align: center;
  padding: 2vmin;
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (max-width: 1000px) {
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    grid-template-areas:
      ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList '
      ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList '
      ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList '
      ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList '
      ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList '
      ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList '
      ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList '
      ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList '
      'drawerMenuButton Title homeButton'
      'backwardsButton  inputSearchBar forwardButton';

    .menu {
      display: flex;
      flex-flow: column nowrap;
    }
  }
}

.closed {
  position: relative;
  width: 0;
  height: 0;
  opacity: 0;
  transition: width 1s opacity 1.5s;
}

.sidenav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: ProcesosLayoutList;
  grid-template-rows: repeat(10, 1fr);
  gap: 2vmin;
  justify-content: center;
  align-content: flex-start;
  justify-items: stretch;
  box-sizing: border-box;
  padding: 2vmin;
  box-shadow: var(--dp2);
  background-color: var(--sf-2);
  border-radius: 2vmin;
  overflow: scroll;
}

.forwardButton {
  grid-area: forwardButton;
  background-color: var(--surface-container);
  & > span {
    color: var(--primary);
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}

.backwardsButton {
  background-color: var(--surface-container);
  grid-area: backwardsButton;
  & > span {
    color: var(--primary);
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}

.drawerMenuButton {
  grid-area: drawerMenuButton;
  background-color: var(--primary-container);
  & > span {
    color: var(--on-primary-container);
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}

.homeButton {
  grid-area: homeButton;
  background-color: var(--primary-fixed);
  & > span {
    color: var(--on-primary-fixed);
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}

.button,
.forwardButton,
.backwardsButton,
.drawerMenuButton,
.homeButton {
  border: none;
  box-shadow: var(--dp2);
  border-radius: 2vmin;
  flex: 0 0 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;

  & > .ButtonTextHelper {
    display: none;
    opacity: 0;
    transition: all 1s;
  }

  &:hover,
  &:active {
    background-color: var(--tertiary-container);
    box-shadow: var(--dp8);

    & > span {
      font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 24;
      color: var(--tertiary);
    }
  }
}

.home {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  padding: 2vmin;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
