.content {
  padding: 1vmin;
  background-color: var(
    --surface-container-lowest
  );
  border-top: solid 5px var(--outline);
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}
.isDone {
  color: var(--outlined);
}
.notDone {
  color: var(--error);
}
